<div class="col-sm-auto d-inline-flex align-items-center px-0">
  <input
    type="text"
    name="dti__month"
    maxlength="2"
    size="2"
    placeholder="MM"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="month"
    (input)="createDatetime()"
    (blur)="onBlur($event)">
  &nbsp;/&nbsp;
  <input
    type="text"
    name="dti__day"
    maxlength="2"
    size="2"
    placeholder="DD"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="day"
    (input)="createDatetime()"
    (blur)="onBlur($event)">
  &nbsp;/&nbsp;
  <input
    type="text"
    name="dti__year"
    maxlength="4"
    size="4"
    placeholder="YYYY"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="year"
    (input)="createDatetime()"
    (blur)="onBlur($event)">
  </div>
  <div class="w-100 d-block d-sm-none"></div>
  <div class="col-sm-auto d-inline-flex align-items-center px-0 mt-2 mt-lg-0 pl-sm-3">
  <input
    type="text"
    name="dti__hour"
    maxlength="2"
    size="2"
    placeholder="hh"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="hour"
    (input)="createDatetime()"
    (blur)="onBlur($event)"
  >
  &nbsp;:&nbsp;
  <input
    type="text"
    name="dti__minutes"
    maxlength="2"
    size="2"
    placeholder="mm"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="minute"
    (input)="createDatetime()"
    (blur)="onBlur($event)"
  >
  &nbsp;&nbsp;&nbsp;
  <select
    name="dti__meridiem"
    class="form-control w-auto d-inline-block"
    [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="meridiem"
    (change)="createDatetime()"
    (blur)="onBlur($event)"
  >
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>
</div>