<a target="_blank" href="http://maps.google.com/maps?q={{ address }}+{{ zip }}">
  <div>{{address}}</div>
  <div *ngIf="city && state">{{city}}, {{state}}</div>
  <div *ngIf="city && !state">{{city}}</div>
  <div *ngIf="!city && state">{{state}}</div>
  <div>{{zip}}</div>
</a>
