// Form validation errors are displayed using ng-if.
.invalid-feedback, bgi-invalid-feedback, bgi-feedback {
  display: block;
}

bgi-invalid-feedback, bgi-feedback {
  width: 100%;
}

// Invalid, touched inputs get a red border.  The rule also applies to custom
// components (phone-input, date-time-input, etc.) where the component gets the
// .ng-invalid.ng-touched classes.
.ng-invalid.ng-touched,
.ng-invalid.ng-touched:not(form):not(fieldset) input,
.ng-invalid.ng-touched:not(form):not(fieldset) select,
.ng-invalid.ng-touched:not(form):not(fieldset) textarea {
  border-color: #dc3545;
}
