<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">+1</span>
  </div>

  <input type="text" [name]="name" maxlength="50"
    class="form-control" [attr.disabled]="disabled ? '' : null"
    [(ngModel)]="phone" (blur)="doTouch($event)" (input)="doChange()">
</div>
