<div class="modal" [ngClass]="{'d-block': show}">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close" (click)="onClose()">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onClose()">OK</button>
      </div>
    </div>
  </div>
</div>

